<h1>Game id <%= @game.id %></h1>
<div class="container-fluid" id="game" >
  <%= current_user.name %>
  <div class="row" id="main" >
    <div class="col-md-1" id="left" >
      Left col
    </div>
    <div class="col-md-10" id="mcol" >
      <div id="cardtable"></div>
    </div>
    <div class="col-md-1" id="right" >
      Right
    </div>


  </div>

</div>

